body,input,textarea,table,tr,td,th {
	margin: 0;
	padding: 0;
}

input,textarea {
	padding: 2px;
	border-color: #dddddd;
	border-width: 1px;
	border-style: solid;
}

.debugshow {
	border: 1px solid #B1CDE3;
	padding: 0;
	margin: 0 auto;
	border-collapse: collapse;
}

.debugshow td,.debugshow th {
	border: 1px solid #B1CDE3;
	background: #fff;
	font-size: 12px;
	padding: 3px 3px 3px 8px;
	color: #4f6b72;
}

.debugshow th {
	border: 1px solid #B1CDE3;
	background: #e11;
	font-size: 12px;
	padding: 3px 3px 3px 8px;
	color: #fff;
}