.idContainer {
	text-align: center;
	position: absolute;
	padding: 30px 10px 30px 10px;
	border: 1px solid black;
	background: url('images/background.jpg') center no-repeat;
}

.idToolbar {
	position: absolute;
}

.imageTrans {
	margin-bottom: 20px;
	cursor: pointer;
}