@charset "utf-8";
/* CSS Document */
*{
	padding:0;
	margin:0;
}
a:hover{
    text-decoration: none;
}
html,body{
	height:100%;
	font-family: microsoft yahei;
}

.index {
	width: 100%;
	height: 100%;
}
.login_header{
	height:13%;
	min-height:60px;	
	min-width:800px;
}
.logotop{
	text-align: left;
    margin: 20px 0px 20px 20px;
    float: left;

}
.loginboxP_cq {
	width: 328px;
	height: 320px;
	background: #fff;
	position: absolute;
	top: 55%;
    margin-top: -180px;
	right: 8%;
	padding: 20px 20px 0px;
	box-shadow: 0 3px 8px #aaa;
}
.loginboxP_cq .alert-danger i {
	margin: 0 10px 0 0;
}
.loginboxP_cq .alert-danger {
	position: absolute;
	width: 288px;
	margin: -43px 0 0 0;
	height: 36px;
	border-radius: 0px;
	padding: 8px 10px 0;
}
.loginbox_cq .alert-danger {
	margin: -28px 0 0 0;
    height: 26px;
    padding: 3px 10px 0;
}
.loginboxP_cq .tcq {
	border-bottom: 1px dashed #ccc;
	padding: 0 0 16px 0 ;
	font-size: 1.7rem;
	margin:0 0 50px 0;
}
.loginbox_cq .tcq {
	margin:0 0 1px 0;

}
.tcq .tcq1{
    float: right;
    font-size: 12px;
}
.loginboxP_cq .form-group {
	margin: 30px 0 20px 0;
}
.loginbox_cq .form-group {
	margin: 20px 0 1px 0;
}
.loginboxP_cq .input-group-addon {
	border-radius: 0px;
}
.loginboxP_cq .input-group-addon i {
	font-size: 1.6rem;
}
.loginboxP_cq input {
	box-shadow: none;
	-webkit-box-shadow:none;
	border-radius: 0px;
	height: 38px; 
}
.loginboxP_cq button {
	margin: 30px 0 0 0;
	height: 38px;
	line-height: 3px;
	border-radius:0px;

}
.loginbox_cq button {
	margin: 23px 0 0 0;

}
.loginbox_cq a {
	color: green;
	margin-top: 8px;
    display: block;
    
}
.loginbox_cq a.edit_pw {
	float: left;
}
.loginbox_cq a.edit_room {
	float: right;
}
.loginboxP_cq .input-group .input-group-addon{
	padding:0;
	width:30px;
}
.loginboxP_cq .input-group .form-control{
	width:258px;
}
.login_carousel{
    width: 100%;
	height:74%;
}
.login_footer{

	clear:both;
}
.login_footer a{
	text-decoration:none;
	color:#666;
}
.login_footer a i {
	margin: 0 4px 0 0;
}
.login_footer a.red {
	color: #df5959;
}
.login_footer a.green {
	color: #369620;
}
.login_footer .log_f{
    float: left;
    position: relative;
}
.login_footer .log_f #weixin{
    margin-left: 50px;
    margin-top: -50px;
}
.login_footer .log_f div , .login_footer .log_f i , .login_footer .log_f span , .login_footer .log_f a {
	float: left;
	
}
.login_footer .log_f .login_logo {
	float: left;
	margin: -4px 4px 0 0;
}
.login_footer .log_f .login_logo:nth-child(2) {
	margin-right:10px;
}
.login_footer .log_f .login_logo i {
	float: right;
	color: #666;
	margin: -2px 0 0 4px;
}
.login_footer .log_f i , .login_footer .log_f span , .login_footer .log_f a {
	padding-top:0.5%;
}
li{
	list-style-type:none;
}
.login_carousel_picture{
	height:100%;
	width:100%;
	}
.login_indicators li{
	border:2px solid #000;
	width:12px;
	height:12px;
	margin:0 1px;
	opacity: 0.4;
}
.login_indicators{
	bottom:-5px;
}
.login_indicators .active{
	background:#939394;
}
.login_row{
    float: right;


}
.login_row_4{	
	margin:0 auto;
	width:700px;
    margin-left: 100px;


}
.login_row_4 li{
	float:left;
    padding-left: 50px;
    margin-top: 40px;
}
.login_row_4 li span{
    font-size: 12px;
    margin-left: 10px;
    color: #3bbdb0;

}
.login_QRcode{
	float:left;
}
.login_QRcode img{
	padding:0 0 0 5px;
}
.login_QRcode .login_br {
	margin: 5px 0 0 5px;
}
.login_icon_1{
	width:22px;
	height:22px;
	background:#ff7373;
	color:#FFF;
	text-align:center;
	padding:3px 0 0 0;
}
.login_icon_2{
	width:22px;
	height:22px;
	background:#ff8b00;
	color:#FFF;
	text-align:center;
	padding:3px 0 0 0;
}
.login_icon_3{
	width:22px;
	height:22px;
	background:#009deb;
	color:#FFF;
	text-align:center;
	padding:3px 0 0 0;
}
.login_icon_4{
	width:22px;
	height:22px;
	background:#01bc01;
	color:#FFF;
	text-align:center;
	padding:3px 0 0 0;
}
.login_footer{
	text-align:center;
	font-size:12px;
	color:#666;
    margin-top: 30px;
    margin-left: 12%;
}
.login_up_color{
	color:red;
}
.login_down_color{
	color:#369620;
}
.index span{
	padding:0 3px;	
}
.login_up{
	color:red;
	font-style:normal;
}
.login_down{
	color:#369620;
	font-style:normal;
}
.login_box_opacity{
	background:#000;
	width:290px;
	height:315px;
	border-radius:4px;
	top:20%;
	left:67%;
	opacity:0.45;
	color:#FFF;
	z-index:2;
	position:absolute;	
}
.login_box{
	width:290px;
	height:315px;
	border-radius:4px;
	top:20%;
	left:67%;
	color:#FFF;
	z-index:3;
	position:absolute;
	display:none;		
}
.login_box_qr{
	width:290px;
	height:305px;
	border-radius:4px;
	top:20%;
	left:67%;
	color:#FFF;
	z-index:3;
	position:absolute;
	display:none;
}
.active{
	display:block;
	}
.login_box_qrimg{	
	margin:-10px 0 20px 80px;
	width:135px;
		
}
.pleaseusephone{
	text-align:center;
	font-size:16px;
	font-family:"宋体";
}
.qrcode_target{
	position: absolute;
    width: 58px;
    height: 58px;
    display: block;
    top: 0;
    right: 0;

	background-repeat: no-repeat;
    cursor: pointer;
    z-index: 99;
}
.qrcode-target-hide {
    background-position: -262px -260px;
}
.qrcode-target-show {
    background-position: -201px -201px;
}
.login_box_loginsystem{
	font-size:20px;
	text-align:center;
	margin:30px 0 45px 0;
}
.retry{
	position:absolute;
	margin:-29px 0 0 26px;
	border:2px solid #de0442;
	color:#de0442;
	background:#ffe8e8;
	padding:2px 0;
	width:236px;
	}
.login_checkbox{
	margin-bottom:0;	
}
.form-horizontal .checkbox, .form-horizontal .checkbox-inline, .form-horizontal .radio, .form-horizontal .radio-inline{
	padding-top:3px;
}
.login_form-group{
	margin-bottom:20px;
}
.checkbox{
	font-size:12px;
	}
.login_box_remember{
	margin-top:15px;
}
.carousel-control.left,.carousel-control.right{
	top:35%;
	background:none;
	margin:0 1%;
	height:100px;
	width:40px;
}

.login_carousel a span{
	margin:100% 0;
}
.in_img {
	background-size:contain !important;	
	background-position: center !important;
	background-repeat: repeat-x !important;

}
.carousel-control {
	filter:none !important;
}

.img2{
	background:url("images/2.jpg");
}
.img3{
	background:url("images/3.jpg");
}
.img4{
	background:url("images/4.jpg");
}
